* {
  padding: 0px;
  margin: 0px;
  font-family: "Outfit", sans-serif;
  color: aliceblue;
}

body {
  /* background-color: rgb(0, 0, 0); */
  background: url("images/Rectangle.png");
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  max-width: 1582px;
}

/* .main-body {
  background: url("images/Rectangle.png");
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  height: 4000px;
  background-repeat: repeat-y;
} */

.navbar {
  height: 119px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.menu a {
  padding: 20px 20px;
  text-decoration: none;
}

.menu {
  padding: 30px;
}

.menu a:hover {
  opacity: 0.6;
}

.logo {
  padding: 23px 0px 0px 73px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(77, 72, 72) 1px;
  margin: 34px 70px 0px 0px;
  width: 106px;
  height: 56px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0);
}

.buttons button {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  cursor: pointer;
}

#btn1:hover {
  background-color: rgb(10, 162, 233);
}

#btn2:hover {
  background-color: #7289da;
}

.main {
  display: flex;
  /* height: 100vh; */
  padding-top: 40px;
}

.child1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 80px 0px 0px 132px;
}

.child1-a {
  padding: 17px;
}

.child2 {
  width: 1056px;
  height: 722px;
  background: url("images/mascot.png");
  background-repeat: no-repeat;
  position: relative;
}

.child1-b {
  width: 477px;
  height: 71px;
  border: solid gray 1px;
  border-radius: 40px;
  display: flex;
  justify-content: flex-start;
}

.child1-b input {
  background-color: rgba(0, 0, 0, 0);
  padding: 8px 8px;
  font-size: medium;
  margin-top: 5px;
  width: 310px;
  height: 45px;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right-style: solid gray 2px;
  outline: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.39);
}

.child1-b div {
  border: 0px;
  border-radius: 50px;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-evenly;
}

#btn3 {
  background-color: rgb(10, 159, 245);
  height: 50px;
  width: 50px;
  border: solid darkblue 1px;
  border-radius: 100px;
  cursor: pointer;
}

#btn3:hover {
  background-color: rgb(4, 170, 199);
}

.option {
  background-color: rgba(0, 0, 0, 0);
  font-size: medium;
  border: 0px;
  cursor: pointer;
  outline: none;
}

/* .child2 div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center; 
} */

.child2 div p {
  font-size: 15px;
  line-height: 25px;
  /* or 156% */

  display: flex;
  align-items: center;
  padding-left: 3px;

  /* align-content: center; */

  color: #ffffff;

  mix-blend-mode: luminosity;
}

.div1 {
  position: absolute;
  height: 86px;
  width: 220px;
  top: 172px;
  left: -83px;
  display: flex;
  padding-left: 5px;
  align-items: center;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(80px);
}

.div2 {
  display: flex;
  padding-left: 5px;
  align-items: center;
  border-radius: 50px;
  position: absolute;
  width: 245px;
  height: 87px;
  right: 125px;
  top: 83px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(80px);
}

.div3 {
  position: absolute;
  left: -99px;
  bottom: 246px;
  width: 256px;
  height: 87.17px;
  display: flex;
  padding-left: 5px;
  align-items: center;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(80px);
}

.div4 {
  position: absolute;
  bottom: 274px;
  right: 174px;
  width: 193px;
  height: 87px;
  display: flex;
  padding-left: 5px;
  align-items: center;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(80px);
}

.main-1 {
  display: flex;
  padding-top: 60px;
  /* border: solid red 1px; */
  height: 53vh;
}

.child3 {
  padding-left: 62px;
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
}

.child3 h1 {
  font-size: 100px;
}

.child3-a {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 30px;
}

.child3-b {
  padding-left: 100px;
  /* padding-bottom: 100px; */
  /* height: 100px; */
  background: radial-gradient(
    41.76% 41.76% at 50% 50%,
    rgba(0, 56, 255, 0.24) 0%,
    rgba(0, 133, 255, 0) 100%
  );
}

.child3-b div {
  padding-bottom: 25px;
  padding-right: 55px;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-end;
}

.txt {
  width: 368px;
  height: 77px;
}

.txt p {
  color: rgba(255, 255, 255, 0.39);
  font-family: Outfit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}

.child3-a div h2 {
  color: aqua;
  font-size: 33px;
  font-weight: 500;
}

.child3-a div h1 {
  font-weight: 100;
  font-size: 77px;
}

.bullet {
  background: #ffffff;
  box-shadow: 12px 32px 80px -20px rgba(0, 0, 0, 0.12);
  border-radius: 32px;
  display: grid;
  justify-content: space-around;
  width: 214px;
  height: 150px;
  border-radius: 32px;
}

.child4 {
  width: 50%;
  height: 50vh;
  padding-left: 20px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

/* .main-3 {
  display: flex;
  padding-top: 100px;
  height: 250px;
  justify-content: center;
} */

.child5 {
  width: 50%;
}

.child6 {
  padding-top: 30px;
  display: flex;
  width: 50%;
  flex-direction: row-reverse;
  justify-content: center;
}

.child6-a {
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-right: 30px;
}

.bullet1 {
  background: rgba(29, 51, 64, 0.45);
  backdrop-filter: blur(80px);
  display: grid;
  justify-content: space-around;
  width: 214px;
  height: 150px;
  border-radius: 32px;
}

.child6-a div h2 {
  color: aqua;
  font-size: 33px;
  font-weight: 500;
}

.child6-a div h1 {
  font-weight: 100;
  font-size: 77px;
}

.contact-container {
  height: 750px;
  margin: 0px 200px;
  border-left: 3px solid rgba(255, 255, 255, 0.21);
  border-top: 3px solid rgba(255, 255, 255, 0.21);
  /* border-radius: 50px; */
  border-top-left-radius: 50px;
}

.heading-para {
  padding: 50px 100px;
}

.heading-para h1 {
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 0.2px;
}

.heading-para p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.main-contact {
  margin: 0px 100px;
  display: flex;
  height: 40%;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.1px;
  width: 50%;
}

.contact-details a {
  text-decoration: none;
}

.contact-details input {
  background: none;
  width: 100%;
  height: 35px;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}

.contact-btn {
  margin: 0px 100px;
  display: flex;
  flex-direction: row-reverse;
}
.us {
  color: #6c6c6c;
}

#btn4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  background: linear-gradient(180deg, #107bee 0%, #359dfd 100%);
  height: 140px;
  width: 140px;
  border-radius: 70px;
  cursor: pointer;
  border: none;
}

#btn4:hover {
  background: rgb(6, 201, 201);
}

.footer {
  padding-top: 103px;
  display: flex;
  justify-content: center;
  height: 390px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 3px solid rgba(255, 255, 255, 0.21);
}

.list {
  width: 70%;
  /* border-bottom: none;
border-left: none;
border-right: none;
border-top: solid gray 3px; */
}

.list-a {
  padding: 0px 0px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  font-weight: 400;
}
.list-a li {
  font-size: 18px;
}

.list-b {
  padding-top: 40px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  font-weight: 200;
}
.list-b div li {
  font-size: 16px;
}

.list2 {
  width: 30%;
  display: inline-block;
  justify-content: space-around;
}

.list-c {
  list-style: none;
}

.list-c li a {
  text-decoration: none;
}

.phn:hover {
  color: grey;
}
.dis {
  color: #5865f2;
}
.dis:hover {
  color: #e7e9f0;
}

.buttons1 {
  display: flex;
  justify-content: center;
  width: 100px;
  padding-top: 20px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0);
}

.buttons1 button {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.end {
  display: flex;
  justify-content: center;
  height: 50px;
}

.main-2 {
  display: flex;
  /* border: solid red 1px; */
  height: 35vh;
}
.joindiscord {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  border: solid rgb(78, 78, 78) 1px;
  background-color: rgb(255, 255, 255);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 5px 5px 5px 5px;
  position: absolute;
  left: 1372px;
  /* right: 98px; */
  top: 755px;
  z-index: 99999;
  position: fixed;
  cursor: pointer;
}
.joindiscord div img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.joindiscord:hover {
  background-color: #d4d7e4;
}
#dis_1 {
  padding-left: 23px;
  padding-bottom: 5px;
}
